<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;xeno_customization - byond</title>
</head>
<body>
<header>
    <a href="index.html">byond</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="datum/component/xeno_customization.html#var">Var Details</a></header>
<main>
<h1>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/xeno_customization.html">xeno_customization</a>
        
    
            <a href="https://github.com/ss220club/BandaMarines/blob/7d18c5430a5b328775342351ae2b5374303a8783/modular/xeno_customization/code/component.dm#L1">
        <img src="git.png" width="16" height="16" title="modular&#x2F;xeno_customization&#x2F;code&#x2F;component.dm 1"/></a></h1>

<table class="summary" cellspacing="0"><tr><td colspan="2"><h2>Vars</h2></td></tr>
            <tr><th><a href="datum/component/xeno_customization.html#var/option">option</a></th><td>The thing to show</td></tr>
            <tr><th><a href="datum/component/xeno_customization.html#var/original_icon">original_icon</a></th><td>Holds xeno's icon for full body customization</td></tr>
            <tr><th><a href="datum/component/xeno_customization.html#var/original_image">original_image</a></th><td>Holds xeno's image for showing full body customization</td></tr>
            <tr><th><a href="datum/component/xeno_customization.html#var/seeables">seeables</a></th><td>List of players who are ready/already see customization</td></tr>
            <tr><th><a href="datum/component/xeno_customization.html#var/to_show">to_show</a></th><td>What is actually showed</td></tr></table>
    <h2 id="var">Var Details</h2><h3 id="var/option"><aside class="declaration">var </aside>option
            <aside>&ndash; /<a href="datum.html">datum</a>/xeno_customization_option</aside>
        
    
            <a href="https://github.com/ss220club/BandaMarines/blob/7d18c5430a5b328775342351ae2b5374303a8783/modular/xeno_customization/code/component.dm#L4">
        <img src="git.png" width="16" height="16" title="modular&#x2F;xeno_customization&#x2F;code&#x2F;component.dm 4"/></a></h3>
        <p>The thing to show</p><h3 id="var/original_icon"><aside class="declaration">var </aside>original_icon
            <aside>&ndash; /icon</aside>
        
    
            <a href="https://github.com/ss220club/BandaMarines/blob/7d18c5430a5b328775342351ae2b5374303a8783/modular/xeno_customization/code/component.dm#L10">
        <img src="git.png" width="16" height="16" title="modular&#x2F;xeno_customization&#x2F;code&#x2F;component.dm 10"/></a></h3>
        <p>Holds xeno's icon for full body customization</p><h3 id="var/original_image"><aside class="declaration">var </aside>original_image
            <aside>&ndash; /<a href="image.html">image</a></aside>
        
    
            <a href="https://github.com/ss220club/BandaMarines/blob/7d18c5430a5b328775342351ae2b5374303a8783/modular/xeno_customization/code/component.dm#L14">
        <img src="git.png" width="16" height="16" title="modular&#x2F;xeno_customization&#x2F;code&#x2F;component.dm 14"/></a></h3>
        <p>Holds xeno's image for showing full body customization</p><h3 id="var/seeables"><aside class="declaration">var </aside>seeables
            <aside>&ndash; /list/mob</aside>
        
    
            <a href="https://github.com/ss220club/BandaMarines/blob/7d18c5430a5b328775342351ae2b5374303a8783/modular/xeno_customization/code/component.dm#L8">
        <img src="git.png" width="16" height="16" title="modular&#x2F;xeno_customization&#x2F;code&#x2F;component.dm 8"/></a></h3>
        <p>List of players who are ready/already see customization</p><h3 id="var/to_show"><aside class="declaration">var </aside>to_show
            <aside>&ndash; /<a href="image.html">image</a></aside>
        
    
            <a href="https://github.com/ss220club/BandaMarines/blob/7d18c5430a5b328775342351ae2b5374303a8783/modular/xeno_customization/code/component.dm#L6">
        <img src="git.png" width="16" height="16" title="modular&#x2F;xeno_customization&#x2F;code&#x2F;component.dm 6"/></a></h3>
        <p>What is actually showed</p></main>
<footer>
    colonialmarines.dme
    <a href="https://github.com/ss220club/BandaMarines/tree/7d18c5430a5b328775342351ae2b5374303a8783">7d18c54</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/crates/dmdoc/README.md">dmdoc 1.8.0</a></footer>
</body>
</html>
