@use 'sass:map';

$background: hsl(0, 0%, 7.5%);
$button: hsl(0, 0%, 12.2%);
$lightMode: hsl(0, 0%, 100%);
$lightBorder: hsl(0, 0%, 73.3%);
$lightHover: hsl(0, 0%, 91.8%);
$scrollbar-color-multiplier: 1 !default;

////////////////////////////////////////////////
// Normal chat colors
$say: hsl(214, 38%, 74%);
$comms: hsl(0, 0%, 71%);
$me: hsl(227, 64%, 60%);
$ooc: hsl(225, 92%, 54%);
$looc: hsl(322, 70%, 64%);
$mentor: hsl(43, 87%, 38%);
$asay: hsl(30, 62%, 28%);

////////////////////////////////////////////////
// Subchannel chat colors
$highcom: hsl(170, 47%, 36%);
$command: hsl(210, 38%, 61%);
$engi: hsl(36, 100%, 33%);
$hive: hsl(300, 18%, 44%);
$medsci: hsl(165, 100%, 25%);
$security: hsl(0, 60%, 40%);
$req: hsl(38, 48%, 49%);
$alpha: hsl(0, 72%, 50%);
$bravo: hsl(39, 85%, 42%);
$charlie: hsl(300, 33%, 50%);
$delta: hsl(203, 100%, 41%);
$echo: hsl(158, 49%, 47%);
$foxtrot: hsl(22, 41%, 48%);
$jtac: hsl(311, 49%, 45%);
$wy: hsl(33, 99%, 57%);
$wypub: hsl(33, 90%, 62%);
$wysec: hsl(33, 85%, 44%);
$cct: hsl(184, 57%, 55%);
$intel: hsl(120, 97%, 25%);
$pmc: hsl(184, 57%, 55%);
$clf: hsl(249, 40%, 65%);
$upp: hsl(359, 32%, 43%);
$colony: hsl(300, 50%, 40%);
$cia: hsl(16, 75%, 60%);
$provost: hsl(355, 93%, 32%);
$yautja: hsl(133, 74%, 46%);
$hyperdyne: hsl(23, 100%, 55%);

$_channel_map: (
  'Говорить': oklch(0.775 0.05 255),
  'Рация': oklch(0.725 0.225 145),
  'Эмоция': oklch(0.6 0.15 270),
  'Шёпот': oklch(0.625 0.13 280),
  'OOC': oklch(0.725 0.15 90),
  'LOOC': oklch(0.8 0.125 65),
  'Отдел': oklch(0.725 0.225 145),
  'ВнутрСвязь': oklch(0.725 0.225 145),
  'Альфа': oklch(0.575 0.214 27.308),
  'Браво': oklch(0.669 0.138 74.36),
  'Чарли': oklch(0.584 0.155 327.335),
  'Дельта': oklch(0.58 0.153 247.117),
  'wypub': $wypub,
  'wysec': $wysec,
  'Эхо': oklch(0.693 0.123 165.057),
  'Фокстрот': oklch(0.456 0.111 56.122),
  'Корабль': oklch(0.725 0.225 145),
  'JTAC': oklch(0.546 0.182 335.885),
  'ССО': oklch(0.568 0.085 180.45),
  'МедИс': oklch(0.535 0.109 167.21),
  'Инж': oklch(0.562 0.126 65.493),
  'Колония': oklch(0.725 0.225 145),
  'ВоенПол': oklch(0.48 0.161 25.677),
  'ЦРУ': oklch(0.685 0.151 40.173),
  'Разведка': oklch(0.511 0.173 142.516),
  'Запросы': oklch(0.596 0.097 50.107),
  'Команд': oklch(0.52 0.087 220.814),
  'Гипердайн': oklch(0.494 0.093 20.114),
  'ВейЮ': oklch(0.775 0.166 63.656),
  'ВысшКоманд': oklch(0.76 0.106 202.146),
  'Улей': oklch(0.525 0.075 325),
  'Хищники': oklch(0.648 0.156 125.42),
);

$channel-map: ();
$channel_keys: map.keys($_channel_map) !default;

@each $channel in $channel_keys {
  $channel-map: map.merge(
    $channel-map,
    (
      $channel: map.get($_channel_map, $channel),
    )
  );
}
